body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* user input */
.description{
  white-space: pre-wrap;
  height: auto;
}
/* the entire row for block of time */
.time-block{
  text-align: center;
  border-radius: 15px;

}
/* sets the row */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}
/*css for div holding the hour  */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* css that is used for manipulation */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #6179ff;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
/* buttons */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
